
<ion-header class="ion-header">

  <ion-navbar>
    <ion-title>社区信息管理</ion-title>

    <ion-buttons end *ngIf="pet !== '社区管理'">
      <button ion-button icon-only (tap)="isHideSearchBox = false">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="社区列表">
        社区列表
      </ion-segment-button>
      <ion-segment-button value="社区管理">
        社区管理
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-fab center bottom *ngIf="pet !== '社区管理'" (tap)="pet='社区管理'">
    <button ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <div class="container" [ngSwitch]="pet">
    <ion-searchbar [(ngModel)]="searchValue"
                   (ionChange)="getItems($event.value)"
                   showCancelButton="true"
                   placeholder="请输入搜索内容..."
                   (ionCancel)="isHideSearchBox = true"
                   *ngIf="!isHideSearchBox && pet !== '社区管理'"></ion-searchbar>

    <ion-list *ngSwitchCase="'社区列表'">
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/lazy-img.jpg">
        </ion-thumbnail>
        <h2>Ruby</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/lazy-img.jpg">
        </ion-thumbnail>
        <h2>Oscar</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/lazy-img.jpg">
        </ion-thumbnail>
        <h2>Ruby</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/lazy-img.jpg">
        </ion-thumbnail>
        <h2>Oscar</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/lazy-img.jpg">
        </ion-thumbnail>
        <h2>Ruby</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/lazy-img.jpg">
        </ion-thumbnail>
        <h2>Oscar</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/lazy-img.jpg">
        </ion-thumbnail>
        <h2>Oscar</h2>
      </ion-item>
    </ion-list>

    <div class="form" *ngSwitchCase="'社区管理'">
      <ion-list inset>
        <ion-item>
          <ion-label class="label disabled">社区编号</ion-label>
          <ion-input type="text" disabled="true" [value]="form.code"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label [ngClass]="{ 'label': true, 'disabled': form.isApplied }">社区名称</ion-label>
          <ion-input type="text"
                     placeholder="请输入社区名称"
                     [(ngModel)]="form.proposer"
                     [disabled]="form.isApplied"></ion-input>
        </ion-item>

        <ion-item class="kind-box">
          <ion-label class="label">社区属性</ion-label>
          <ion-select [(ngModel)]="form.kind" placeholder="请选择" cancelText="取消" okText="确定" [disabled]="form.isApplied">
            <ion-option value="属性1">属性1</ion-option>
            <ion-option value="属性2">属性2</ion-option>
            <ion-option value="属性3">属性3</ion-option>
          </ion-select>
        </ion-item>

        <ion-item class="kind-box">
          <ion-label class="label">权限设置</ion-label>
          <ion-select [(ngModel)]="form.kind" placeholder="请选择" cancelText="取消" okText="确定" [disabled]="form.isApplied">
            <ion-option value="权限1">权限1</ion-option>
            <ion-option value="权限2">权限2</ion-option>
            <ion-option value="权限3">权限3</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <div padding><button ion-button full>提交</button></div>
    </div>
  </div>

</ion-content>
