
<ion-header>

  <ion-navbar>
    <ion-title>消息页面</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="ion-content">

  <div *ngIf="msgItems.length > 0">
    <ion-card [ngClass]="{ 'msg-box': true, 'is-read': msg.isRead }" *ngFor="let msg of msgItems; let i = index;">
      <ion-card-header>
        {{msg.title || msg.kind}}
      </ion-card-header>
      <ion-card-content>
        {{msg.proposer || msg.community + ' ' + msg.publisher}} 于
        {{msg.sendTime || msg.startDate + ' ' + msg.startTime}} 发布/申请/审批了内容为
        “{{msg.content || msg.remark}}” 的消息/工单...
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="msgItems.length === 0">
    <p text-center>暂无消息！</p>
  </div>

</ion-content>
