
<ion-header class="ion-header">

  <ion-navbar>
    <ion-title>用户信息维护</ion-title>

    <ion-buttons end *ngIf="pet !== '用户管理'">
      <button ion-button icon-only (tap)="isHideSearchBox = false">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="用户列表">
        用户列表
      </ion-segment-button>
      <ion-segment-button value="用户管理">
        用户管理
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="container" [ngSwitch]="pet">
    <ion-searchbar [(ngModel)]="searchValue"
                   (ionChange)="getItems($event.value)"
                   showCancelButton="true"
                   placeholder="请输入搜索内容..."
                   (ionCancel)="isHideSearchBox = true"
                   *ngIf="!isHideSearchBox && pet !== '用户管理'"></ion-searchbar>

    <ion-list *ngSwitchCase="'用户列表'" border-bottom>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/lazy-img.jpg">
        </ion-thumbnail>
        <h2>Ruby</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/lazy-img.jpg">
        </ion-thumbnail>
        <h2>Oscar</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/lazy-img.jpg">
        </ion-thumbnail>
        <h2>Ruby</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/lazy-img.jpg">
        </ion-thumbnail>
        <h2>Oscar</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/lazy-img.jpg">
        </ion-thumbnail>
        <h2>Ruby</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/lazy-img.jpg">
        </ion-thumbnail>
        <h2>Oscar</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/lazy-img.jpg">
        </ion-thumbnail>
        <h2>Oscar</h2>
      </ion-item>
    </ion-list>

    <div class="form" *ngSwitchCase="'用户管理'">
      <ion-list inset>
        <ion-item>
          <ion-label class="label disabled">用户编号</ion-label>
          <ion-input type="text" disabled="true" [value]="form.code"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="label disabled">用户名称</ion-label>
          <ion-input type="text"
                     [(ngModel)]="form.proposer"
                     disabled="true"></ion-input>
        </ion-item>

        <ion-item class="kind-box">
          <ion-label class="label">所属社区</ion-label>
          <ion-select [(ngModel)]="form.kind" placeholder="请选择" cancelText="取消" okText="确定" [disabled]="form.isApplied">
            <ion-option value="社区1">社区1</ion-option>
            <ion-option value="社区2">社区2</ion-option>
            <ion-option value="社区3">社区3</ion-option>
          </ion-select>
        </ion-item>

        <ion-item class="kind-box">
          <ion-label class="label">用户权限</ion-label>
          <ion-select [(ngModel)]="form.kind" placeholder="请选择" cancelText="取消" okText="确定" [disabled]="form.isApplied">
            <ion-option value="权限1">权限1</ion-option>
            <ion-option value="权限2">权限2</ion-option>
            <ion-option value="权限3">权限3</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label [ngClass]="{ 'label': true, 'disabled': form.isApplied }">备注</ion-label>
          <ion-textarea placeholder="请输入备注内容..."
                        class="textarea"
                        [(ngModel)]="form.reason"
                        [disabled]="form.isApplied"></ion-textarea>
        </ion-item>
      </ion-list>

      <div padding><button ion-button full>提交</button></div>
    </div>
  </div>

</ion-content>
