page-c7 {
  .kind-box, .time-box {
    padding-left: 0;
    ion-label {
      flex: initial;
      pointer-events: none;
    }
    ion-select, ion-datetime {
      padding: 13px 8px;
    }
  }

  .label {
    color: #666!important;
  }

  .textarea>textarea {
    height: 100px;
    border: 1px solid rgba(7, 17, 27, 0.1);
    border-radius: 5px;
  }

  .disabled {
    opacity: .4;
    pointer-events: none;
  }
}
