
<ion-header class="ion-header">

  <ion-navbar>
    <ion-title>社区公告</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="公告详情">
        公告详情
      </ion-segment-button>
      <ion-segment-button value="公告管理">
        公告管理
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-fab right bottom *ngIf="global.userInfo && global.userInfo.identity !== 'user' && pet !== '公告管理'">
    <button ion-fab><ion-icon name="arrow-dropleft"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab color="dark" (tap)="changeAction('add')"><ion-icon name="add"></ion-icon></button>
      <button ion-fab color="dark" (tap)="changeAction('edit')"><ion-icon name="create"></ion-icon></button>
      <button ion-fab color="dark" (tap)="changeAction('remove')"><ion-icon name="remove"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

  <div class="container" [ngSwitch]="pet">
    <div *ngSwitchCase="'公告详情'">
      <ng-container *ngIf="!curNoticeDetail">
        <p text-center>此公告已被删除！</p>
      </ng-container>

      <ng-container *ngIf="curNoticeDetail">
        <ion-card margin-bottom [ngClass]="{ 'choose-card': isChoose }">
          <img [src]="curNoticeDetail.picture"/>
          <ion-card-content>
            <ion-card-title>
              {{curNoticeDetail.title}}
            </ion-card-title>
            <p>{{curNoticeDetail.sendTime}}</p>
            <p>{{curNoticeDetail.content}}</p>
          </ion-card-content>

          <ion-row align-items-center>
            <ion-col>
              <button ion-button icon-left clear small>
                <ion-icon name="thumbs-up"></ion-icon>
                <div>12 喜欢</div>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button icon-left clear small>
                <ion-icon name="text"></ion-icon>
                <div>4 评论</div>
              </button>
            </ion-col>
            <ion-col center text-center>
              <ion-note>
                {{agoDay}}天 前
              </ion-note>
            </ion-col>
          </ion-row>
        </ion-card>
      </ng-container>
    </div>

    <div class="form" *ngSwitchCase="'公告管理'">
      <ng-container *ngIf="global.userInfo && global.userInfo.identity === 'user'">
        <p text-center>暂无权限！</p>
      </ng-container>

      <ng-container *ngIf="global.userInfo && global.userInfo.identity !== 'user'">
        <ion-list inset>
          <ion-item>
            <ion-label class="label disabled">公告编号</ion-label>
            <ion-input type="text" disabled="true" [value]="form.noticeId"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label ngClass="label disabled">发布者</ion-label>
            <ion-input type="text" disabled="true" [value]="form.publisher"></ion-input>
          </ion-item>

          <ion-item class="kind-box">
            <ion-label class="label disabled">所属社区</ion-label>
            <ion-select [(ngModel)]="form.community" cancelText="取消" okText="确定" disabled="true">
              <ion-option value="社区1">社区1</ion-option>
              <ion-option value="社区2">社区2</ion-option>
              <ion-option value="社区3">社区3</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label ngClass="label">公告标题</ion-label>
            <ion-input type="text" [(ngModel)]="form.title"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label class="label">公告内容</ion-label>
            <ion-textarea class="textarea" [(ngModel)]="form.content"></ion-textarea>
          </ion-item>
        </ion-list>

        <div padding>
          <button ion-button full (tap)="postDetail(action)">
            <span *ngIf="action === 'add'">新增公告</span>
            <span *ngIf="action === 'edit'">提交修改</span>
          </button>
        </div>
      </ng-container>
    </div>
  </div>

</ion-content>
