
<ion-header class="ion-header">

  <ion-navbar>
    <ion-title>工单管理</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (tap)="presentPopover($event)">
        <ion-icon name="ios-funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="工单列表">
        工单列表
      </ion-segment-button>
      <ion-segment-button value="工单操作">
        工单操作
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-fab right bottom *ngIf="global.userInfo && global.userInfo.identity === 'user' && pet !== '工单操作'">
    <button ion-fab><ion-icon name="arrow-dropleft"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab color="dark" (tap)="changeAction('add')"><ion-icon name="add"></ion-icon></button>
      <button ion-fab color="dark" (tap)="changeAction('edit')"><ion-icon name="create"></ion-icon></button>
      <button ion-fab color="dark" (tap)="changeAction('remove')"><ion-icon name="remove"></ion-icon></button>
      <button ion-fab color="dark" (tap)="changeAction('print')"><ion-icon name="print"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

  <div class="container" [ngSwitch]="pet">
    <ion-list *ngSwitchCase="'工单列表'" radio-group [(ngModel)]="curWorkOrderIndex" (ionChange)="changeCurWorkOrder(curWorkOrderIndex)">
      <ng-container *ngIf="workOrderItems.length === 0">
        <ion-item>
          <p text-center>暂无工单！</p>
        </ion-item>
      </ng-container>

      <ng-container *ngIf="workOrderItems.length > 0">
        <ion-item *ngFor="let order of workOrderItems; let i = index;">
          <ion-label>
            <h2>{{order.kind }}</h2>
            <p>· 工单编号：{{order.workOrderId}}</p>
            <p>· 申请人：{{order.proposer}}</p>
            <p>· 所属社区：{{order.community}}</p>
            <p>· 工单状态：{{order.status==='1'?'审批中':(order.status==='-1'?'被驳回':(order.status==='2'?'已通过':'已处理'))}}</p>
            <p>· 工单事务：{{order.remark}}</p>
            <p>· 申请时间：{{order.startDate+' '+order.startTime+' ～ '+order.endDate+' '+order.endTime}}</p>
            <p>· 审批人：{{order.approver}}</p>
            <p>· 工单评价：{{order.evaluate || '未评价...'}}</p>
          </ion-label>
          <ion-radio [value]="i"></ion-radio>
        </ion-item>
      </ng-container>
    </ion-list>

    <div class="form" *ngSwitchCase="'工单操作'">
      <ng-container *ngIf="!curWorkOrderDetail">
        <p text-center>请选择需要操作的工单！</p>
      </ng-container>

      <ng-container *ngIf="curWorkOrderDetail">
        <ion-list inset>
          <ion-item>
            <ion-label class="label disabled">工单编号</ion-label>
            <ion-input type="text" disabled="true" [value]="form.workOrderId"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label class="label disabled">申请人</ion-label>
            <ion-input type="text" [(ngModel)]="form.proposer" disabled="true"></ion-input>
          </ion-item>

          <ion-item class="kind-box">
            <ion-label [ngClass]="{ 'label': true, 'disabled': global.userInfo.identity!=='user' || form.status==='2' }">业务种类</ion-label>
            <ion-select [(ngModel)]="form.kind"
                        placeholder="请选择业务种类..."
                        cancelText="取消"
                        okText="确定"
                        [disabled]="global.userInfo.identity !== 'user' || form.status==='2'">
              <ion-option value="工程报修">工程报修</ion-option>
              <ion-option value="加班空调">加班空调</ion-option>
              <ion-option value="IC卡">IC卡</ion-option>
              <ion-option value="社区活动">社区活动</ion-option>
              <ion-option value="出闸纸申请">出闸纸申请</ion-option>
              <ion-option value="修补后加工程">修补后加工程</ion-option>
              <ion-option value="通信故障报修单">通信故障报修单</ion-option>
              <ion-option value="消防维保">消防维保</ion-option>
            </ion-select>
          </ion-item>

          <ion-item class="time-box">
            <ion-label [ngClass]="{ 'label': true, 'disabled': global.userInfo.identity!=='user' || form.status==='2' }">开始日期</ion-label>
            <ion-datetime displayFormat="YYYY-MM-DD"
                          placeholder="请选择日期..."
                          [(ngModel)]="form.startDate"
                          cancelText="取消"
                          doneText="确定"
                          [disabled]="global.userInfo.identity !== 'user' || form.status==='2'">
            </ion-datetime>
          </ion-item>

          <ion-item class="time-box" >
            <ion-label [ngClass]="{ 'label': true, 'disabled': global.userInfo.identity!=='user' || form.status==='2' }">开始时间</ion-label>
            <ion-datetime displayFormat="HH:mm"
                          placeholder="请选择时间..."
                          [(ngModel)]="form.startTime"
                          cancelText="取消"
                          doneText="确定"
                          [disabled]="global.userInfo.identity !== 'user' || form.status==='2'">
            </ion-datetime>
          </ion-item>

          <ion-item class="time-box">
            <ion-label [ngClass]="{ 'label': true, 'disabled': global.userInfo.identity!=='user' || form.status==='2' }">结束日期</ion-label>
            <ion-datetime displayFormat="YYYY-MM-DD"
                          placeholder="请选择日期..."
                          [(ngModel)]="form.endDate"
                          cancelText="取消"
                          doneText="确定"
                          [disabled]="global.userInfo.identity!=='user' || form.status==='2'">
            </ion-datetime>
          </ion-item>

          <ion-item class="time-box">
            <ion-label [ngClass]="{ 'label': true, 'disabled': global.userInfo.identity!=='user' || form.status==='2' }">结束时间</ion-label>
            <ion-datetime displayFormat="HH:mm"
                          placeholder="请选择时间..."
                          [(ngModel)]="form.endTime"
                          cancelText="取消"
                          doneText="确定"
                          [disabled]="global.userInfo.identity!=='user' || form.status==='2'">
            </ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label [ngClass]="{ 'label': true, 'disabled': global.userInfo.identity!=='user' || form.status==='2' }">申请原由</ion-label>
            <ion-textarea placeholder="请说明申请的事务内容及原由..."
                          class="textarea"
                          [(ngModel)]="form.remark"
                          [disabled]="global.userInfo.identity!=='user' || form.status==='2'"></ion-textarea>
          </ion-item>

          <ion-item *ngIf="form.status==='2'">
            <ion-label [ngClass]="{ 'label': true, 'disabled': global.userInfo.identity!=='user' }">工单评价</ion-label>
            <ion-textarea placeholder="请给予工单合理的评价..."
                          class="textarea"
                          [(ngModel)]="form.evaluate"
                          [disabled]="global.userInfo.identity !== 'user'"></ion-textarea>
          </ion-item>
        </ion-list>

        <ng-container *ngIf="global.userInfo.identity === 'user' && form.status !== '3'">
          <div padding>
            <button ion-button full (tap)="postDetail(action)">
              <span *ngIf="action === 'add'">新增工单</span>
              <span *ngIf="action === 'edit'">提交修改</span>
            </button>
          </div>
        </ng-container>

        <ng-container *ngIf="global.userInfo.identity !== 'user' && form.status==='1'">
          <div padding><button ion-button full (tap)="approve('2')">审批通过</button></div>
          <div padding margin-bottom><button ion-button full color="danger" (tap)="approve('-1')">驳回工单</button></div>
        </ng-container>
      </ng-container>
    </div>
  </div>

</ion-content>
